@import '../../../styles/settings.scss';

.component {
  width: fit-content;
  margin: $underBarSpace auto;
}
.buttonsBox {
  display: flex;  
  justify-content:space-between;
  align-items: center;
}
